/Beginning-Ejb/ch03/ch03-JavaPersistenceApi/nbproject/private/
/Beginning-Ejb/ch03/ch03-JavaPersistenceApi/ch03-JavaPersistenceApi-war/nbproject/private/
/Beginning-Ejb/ch03/ch03-JavaPersistenceApi/ch03-JavaPersistenceApi-ejb/nbproject/private/
/Beginning-Ejb/ch03/ch03-JavaPersistenceApi/ch03-JavaPersistenceApi-ejb/build/
/Beginning-Ejb/ch03/sga-jee-web-beginning-ejb/nbproject/private/